@page {
  size: A4 landscape;
  margin: 0;
}

@media print {
  body {
    background: white;
  }

  .pagina {
    margin: 0;
    box-shadow: none;
    page-break-after: always;
    width: 297mm;
    height: 210mm;
  }

  .btn-navegacao,
  .barra-progresso {
    display: none !important;
  }
}
